.blog-card-main-container{

    display: flex;
    height: 72.783vh;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 3.058vh;

.blog-card-container {
  display: flex;
  border-radius: 2.294vh;
  border: 0.153vh solid #D2D2D2;
  background: #FFF;
  width: 50.459vh;
  height: 72.783vh;
  flex-wrap: wrap;
  /* margin: 10px auto; */
  border-radius: 1.529vh;
  /* padding: 30px 20px; */
  background: #ffffff;
  cursor: pointer;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  .blog-card-image-container{
    border-radius: 1.529vh;
    /* margin: auto; */
    /* flex: 1; */
    display: flex;
    width: 90%;
    height: 33.792vh;
    overflow: hidden;
  }

  .blog-desciption {
    display: flex;
    flex-direction: column;
    gap: 3.058vh;
    .blog-date {
      font-family: 'Graphik';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 12%;
      text-align: left;
      text-transform: uppercase;
      color: #667085;
      margin-left: 30px;
      padding-top: 10px;
    }
    .blog-content {
      padding: 0px 3.058vh;
      // width: 85%;
        // margin-top: 30px;
        // margin-left: 20px;

      .date {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgba(73, 73, 73, 0.867);
        font-size: 1.835vh;
      }

      .blog-heading {
        font-family: 'Poppins';

        font-style: normal;
        font-weight: 500;
        font-size: 3.211vh;
        line-height: 130%;
        color: #1d2939;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
      .blog-description {
        font-family: 'Poppins';

        font-style: normal;
        font-weight: 500;
        font-size: 2.141vh;
        line-height: 150%;
        color: #475467;
        margin-top: 1.529vh;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
      }
    }
    .blog-button{
      display: flex;
      margin: auto;
      width: 90%;font-family: 'Poppins';
      font-weight: 600;
      font-size: 1.529vh;

      border-radius: 0.765vh;
      border: 1px solid #000;
      background: #FFF;
      padding: 1.223vh 2.141vh;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
  .blog-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
}

.blog-container {
  background-color: #eef7ff;
  .daily-blog {
    width: 80%;
    margin: auto;
    .heading-bt-container {
      display: flex;
      width: 100%;
      margin: 20px auto;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #1d2939;
      }
      button {
        background-color: white;
        border: none;
        padding: 10px;
        outline: none;
        color: #1d2939;
        border-radius: 8px;
      }
    }
  }
  .design-tools {
    padding-top: 50px;
    .heading-bt-container {
      display: flex;
      width: 70%;
      margin: 20px auto;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #1d2939;
      }
      button {
        background-color: white;
        border: none;
        padding: 10px;
        outline: none;
        color: #1d2939;
        border-radius: 8px;
      }
    }
  }
  .tutorials {
    padding-top: 50px;
    .heading-bt-container {
      display: flex;
      width: 70%;
      margin: 20px auto;
      flex-direction: row;
      justify-content: space-between;
      h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        color: #1d2939;
      }
      button {
        background-color: white;
        border: none;
        padding: 10px;
        outline: none;
        color: #1d2939;
        border-radius: 8px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .blog-card-container {
    display: flex;
    width: 95%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    padding: 2.294vh 1.529vh;

    background: #ffffff;

    .blog-desciption {
      .blog-date {
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 400;
        font-size: 7px;
        line-height: 120%;
        text-align: left;
        text-transform: uppercase;
        color: #667085;
        margin: 0px auto;
        padding: 0;
      }
      .blog-content {
        width: 100%;

        margin: 10px auto;
        .blog-heading {
          font-family: 'Poppins';

          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 130%;
          color: #1d2939;
        }
        .blog-description {
          font-family: 'Poppins';

          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 150%;
          color: #475467;
          margin-top: 10px;
        }
      }
    }
    .blog-main-image {
      width: 40%;
    }
  }

  .blog-container {
    background-color: #eef7ff;
    .daily-blog {
      padding: 0;
      .heading-bt-container {
        display: flex;
        width: 90%;
        margin: 0px auto;
        padding-top: 30px;
        flex-direction: row;
        justify-content: space-between;
        h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 130%;
          color: #1d2939;
          padding-top: 5px;
        }
        button {
          background-color: white;
          border: none;
          padding: 10px;
          outline: none;
          color: #1d2939;
          border-radius: 8px;
        }
      }
    }
    .design-tools {
      padding-top: 0px;
      .heading-bt-container {
        display: flex;
        width: 90%;
        margin: 20px auto;
        flex-direction: row;
        justify-content: space-between;
        h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 130%;
          color: #1d2939;
          padding-top: 5px;
        }
        button {
          background-color: white;
          border: none;
          padding: 10px;
          outline: none;
          color: #1d2939;
          border-radius: 8px;
        }
      }
    }
    .tutorials {
      padding-top: 0px;
      .heading-bt-container {
        display: flex;
        width: 90%;
        margin: 20px auto;
        flex-direction: row;
        justify-content: space-between;
        h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 130%;
          color: #1d2939;
          margin-top: 10px;
          padding-top: 5px;
        }
        button {
          background-color: white;
          border: none;
          padding: 10px;
          outline: none;
          color: #1d2939;
          border-radius: 8px;
        }
      }
    }
  }
}

@media(max-width:600px){
  .blog-container{
   .daily-blog{
     width: 100%;
   }
  } 
 }