@font-face {
  font-family: 'sf-pro-display-bold';
  font-family: '';
  src: url('../public/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'sf-pro-display-medium';
  src: url('../public/assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'sf-pro-display-regular';
  src: url('../public/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Poppins , 600, 500 */

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  font-family: '';
} */



.header-border-cls {
  border-bottom: 1px solid #efeff0;
}

.mt-7rem{
  margin-top: 7rem;
}

.text-align-last-center{
  text-align-last: center;
}
